<h2 mat-dialog-title>Sobre CRYPTO</h2>
<mat-dialog-content>

<h3>Olá!</h3>

<p>Essa aplicação foi desenvolvida como forma de estudo e parte de um portifólio profissional.</p>

<p>
    Os dados aqui presentes são fornecidos por CoinMarketCap a partir de sua API.
    A CoinMarketCap impõe limitações diárias e mensais a o número de requisições feitas a sua API 
     para seus assinantes não pagantes. Consulte a documentação da API para saber mais.
</p>

<p>
    Consulte o Readme do projeto ou acesse o repositório a partir da barra de navegação.
</p>

<p>
    Acesse:
    <a mat-button href="https://coinmarketcap.com/" target="_blank">CoinMarketCap</a>
    ou
    <a mat-button href="https://coinmarketcap.com/api/documentation/v1/">Documentação API CoinMarketCap </a>
</p>
</mat-dialog-content>

<mat-divider></mat-divider>
<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>