.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.nav{
    background-color: #000000a8;
}

.header{
    height: 10rem;
}

.content{
    width: 100%;
    text-align: center;
    justify-items: center;
    background-color: #000000a8;
}

.loading{
    margin: auto;
}