<div class="container">
    <div class="nav">
        <crip-navbar *ngIf="!(loading$ | async)">
            <crip-form
                [locales$]="locales$"
                [currency$]="currency$"
                (newCurrency)="newCurrency($event)">
            </crip-form>
        </crip-navbar>
    </div>

    <div class="content">
        <div class="header">
            <mat-toolbar class="toolbar">
                <button mat-fab>
                    <mat-icon> home </mat-icon>
                </button>
            </mat-toolbar>
        </div>

        <ng-container>
            <mat-spinner *ngIf="(loading$ | async)" class="loading" color="accent">
            </mat-spinner>
        </ng-container>

        <ng-container>
            <crip-table *ngIf="!(loading$ | async)" [data$]="response$" [currency$]="currency$"
                (detailsId)="details($event)">
            </crip-table>
        </ng-container>
    </div>
</div>