<div class="container">
    <div class="nav">
        <crip-navbar *ngIf="!(loading$ | async)">
            <crip-form
                [locales$]="locales$"
                [currency$]="currency$"
                [range$]="range$"
                (newRange)="newRange($event)"
                (newCurrency)="newCurrency($event)">
            </crip-form>
        </crip-navbar>
    </div>

    <div class="content">
        <div class="header">
            <mat-toolbar>
                <span>CRYPTO</span>
                <span class="toolbar-space"></span>
                <a
                    mat-button
                    matTooltip="SourceCode"
                    aria-label="SourceCode on GitHub"
                    href="https://github.com/flaviogds/cripto_request"
                    target="_blank">
                    <img class="avatar" src="./assets/images/github-circle-white.svg" alt="GitHub">
                </a>
                <a
                    mat-button
                    matTooltip="Readme"
                    aria-label="Readme"
                    href="https://github.com/flaviogds/cripto_request#readme"
                    target="_blank">
                    <mat-icon> description </mat-icon>
                </a>
                <button
                    (click)="about()"
                    mat-button
                    matTooltip="About"
                    aria-label="About">
                    <mat-icon> info </mat-icon>
                </button>
            </mat-toolbar>
        </div>

        <ng-container>
            <mat-spinner *ngIf="(loading$ | async)" class="loading" color="accent">
            </mat-spinner>
        </ng-container>

        <ng-container>
            <crip-table *ngIf="!(loading$ | async)" [data$]="response$" [currency$]="currency$"
                (detailsId)="details($event)">
            </crip-table>
        </ng-container>
    </div>
</div>