.table-container {
  height: calc(100% - 16rem);
  overflow-x: auto;
  text-align: justify;
}

.table-filter {
  margin-left: 1.5rem;
}

th {
  text-align: center;
  padding-left: 5rem;
}

td {
  width: fit-content;
  max-width: 20rem;
}

tr:hover {
  background-color: #ffffff10;
}

.table {
  width: 100%;
}

.img-small {
  width: 1.5rem;
  margin-right: 1rem;
}
