<div class="table-container">
    <mat-form-field class="table-filter" color="accent">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="coin" #input>
    </mat-form-field>

    <table class="table" mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let coin"> {{coin.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let coin">
                <a mat-button (click)="true">
                    <img class="img-small" src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{ coin.id }}.png" alt="{{coin.symbol}}">
                    {{coin.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Now ({{ currency }})</th>
            <td mat-cell *matCellDef="let coin"> {{(coin.quote.price/1000).toFixed(5)}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price Now ({{ currency }})</th>
            <td mat-cell *matCellDef="let coin"> {{(coin.quote.price/1000).toFixed(5)}} </td>
        </ng-container>

        <ng-container matColumnDef="last hour">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Hour (%) </th>
            <td mat-cell *matCellDef="let coin">
                <mat-icon color="{{ coin.quote.changes_1h.rateUp ? 'accent' : 'warn'}}"> arrow_drop_{{
                    coin.quote.changes_1h.rateUp ? "up" : "down"}} </mat-icon>
                {{(coin.quote.changes_1h.value*100).toFixed(3)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="today">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Today (%) </th>
            <td mat-cell *matCellDef="let coin">
                <mat-icon color="{{ coin.quote.changes_24h.rateUp ? 'accent' : 'warn'}}"> arrow_drop_{{
                    coin.quote.changes_24h.rateUp ? "up" : "down"}} </mat-icon>
                {{(coin.quote.changes_24h.value*100).toFixed(3)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="last week">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Week (%) </th>
            <td mat-cell *matCellDef="let coin">
                <mat-icon color="{{ coin.quote.changes_7d.rateUp ? 'accent' : 'warn'}}"> trending_{{
                    coin.quote.changes_7d.rateUp ? "up" : "down"}} </mat-icon>
                {{(coin.quote.changes_7d.value*100).toFixed(3)}}
            </td>
        </ng-container>

        <ng-container matColumnDef="last month">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Month (%) </th>
            <td mat-cell *matCellDef="let coin">
                <mat-icon color="{{ coin.quote.changes_30d.rateUp ? 'accent' : 'warn'}}">
                    trending_{{ coin.quote.changes_30d.rateUp ? "up" : "down"}}
                </mat-icon>
                
                {{(coin.quote.changes_30d.value*100).toFixed(3)}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
</div>