<ng-container>
  <form [formGroup]="forms">
    <mat-form-field appearance="legacy">
      <mat-label>Currency</mat-label>
      <input
        matInput
        type="text"
        minlength="5"
        placeholder="Select currency by location"
        aria-label="Currency"
        formControlName="formCurrency"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let locale of (filteredOptions | async)"
          [value]="locale.textValue">
            {{ locale.textValue }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Range</mat-label>
      <input
        matInput
        type="number"
        min="1"
        max="5000"
        aria-label="Range"
        formControlName="formRange">
        <mat-hint>Max value 5000</mat-hint>
    </mat-form-field>
    <button mat-button (click)="currencyChanges()">Change</button>
  </form>
</ng-container>
